body {
    background-image: url(WhatsApp\ Image\ 2024-09-22\ at\ 8.17.27\ AM.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
h1 {
    color: rgb(127, 133, 221);
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.square:hover {
    background-color: #e0e0e0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
